*{
    margin: 0;
    padding: 0;
    font-family: 'Amazon Ember', sans-serif;
    border: border-box;
}

.navbar {
    height: 40px;
    /* width: screen; */
    display: flex;
    color: white;
    background-color: #131921;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap:10px;

}

.nav-logo{
height: 30px;
width: 60px;
padding-top: 7px;
}

.logo{
    background-image: url("amazon-logo-transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    height: 30px; 
    width: 100%; 
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.nav-address{
    display: flex;
    align-items: center;
}

.fal{
    position: relative;
    top: 10px;
    margin-right: 4px;
}
.d{
    font-size: 14px;
}

.nav-search {
    display: flex;
    border-radius: 6px;
    height:40px;
    flex-grow: 1;
}

.nav-search:hover{
    border: 4px solid orange;
}

.fa-search{
    color:black;
}

.search-icon-background{
    background-color: #febd69;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:10px;
    border:none;
}

.search-select{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 3px soild black;
    padding:  6px;
    background-color: #e6e6e6;
}

.search-input{
    padding:5px;
    border:none;
    width: 100%;
}

.accout_list{
    font-size: 12px;
}

.nav-cart i{
font-size: 30px;
}
.nav-cart{

    font-size: 0.85rem;
    font-weight: 600;
}


.panel{
    background-color:#232f3e;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size:14px;
    text-decoration: none;
}

.shop-deals{
    display: inline;
    position: absolute;
    right:20px;
}
.panel a{
    text-decoration: none;
    padding-inline: 10px;
    font-weight: 400;
    /* font-size: 14px; */
    color: white;
}

.hero-section{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('hero.jpg');
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.hero-mesg{
    width:80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 25px;
}

.shop-section{
display: flex;
justify-content: space-evenly;
background-color: #131921;
flex-wrap: wrap;
}

.box{
    height: 400px;
    background-color: white;
    width: 22%;
    font-size: small;
    padding: 10px;
    margin-block: 10px;
}

.box-img{
    background-size: cover;
    height: 75%;
    background-repeat: no-repeat;
    margin-block: 10px;
}

.box-content{
    height: 90%;
    margin-inline: 10px;
}

footer{
    /* margin-top:15px; */
}

.foot-panel1{
background-color:#37475a;
color: white;
height:40px;
justify-content: center;
align-items: center;
font-size: 1rem;
display: flex;
}

.foot-panel2{
    background-color: #131921;
    color:white;
    display: flex;
    justify-content: space-evenly;


}
ul{
    margin: 20PX;
}
ul a{
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    color: #dddddd;
}

.panel3d{
    height: 30px;
    color: beige;
    background-color: #232f3e;
    text-align: center;
    padding: 25px;
}
